.entry{
	height: 100%;
	.ant-layout {
		height: 100%;
	}
	&--timeline{
		height: 55%;
		overflow: hidden;
		padding-bottom: 20px;
		border-bottom: 1px solid #aaa;
		&_container{
			max-height: 90%;
			padding-top: 20px;
			overflow: auto;
		}
	}
	&--issue{
		height: 40%;
		overflow: hidden;
		&_container {
			max-height: 90%;
			overflow: hidden;
		}
		&_item{
			height: 100px;
			width: 100%;
			background-color: #dedede;
			margin-bottom: 15px;
			border-radius: 5px;
			display: flex;
		}
		&_left {
			flex: 1;
			padding: 20px;
		}
		&_right {
			width: 100px;
		}
	}
}